APP_NAME=CharmingDeviceAPI
DEBUG=true
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=xxxxxx
MYSQL_DATABASE=xxxxxx
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=clm2027
REDIS_DB=0
WECHAT_APP_ID=xxxxx
WECHAT_APP_SECRET=xxxx
JWT_SECRET_KEY=请替换成足够长的随机字符串
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080
